---
import CommandTrigger from "@c/main-layout/CommandTrigger.astro"

const { lang } = Astro.props

export const prerender = true
export const getStaticPaths = (() => {    
    return [
        {
            props: {
                lang: 'es'
            }
        },{
            props: {
                lang: 'en'
            }
        }
    ]
}) 
---

{lang === 'es' &&
<section>
    <h2>Ayuda: cat</h2>
    <p>
        Muestra imágenes aleatorias de gatos.
    </p>
    <hr>
    <p class="no-bottom-margin"><span class="simple-preface">Alias: </span> cat.
    </p>
    <p class="no-bottom-margin"><span class="simple-preface">Modo de uso: </span> cat
    </p>
    <h3>Ejemplos: </h3>
    <ul>
        <li><CommandTrigger cmd="cat">cat</CommandTrigger></li>
    </ul>
    <h3>Nota:</h3>
    <p>
        En una versión futura, este comando va a ser actualizado con funcionalidad
        similar a la de una CLI tradicional.
    </p>
</section>
}

{lang === 'en' &&
<section>
    <h2>Help: cat</h2>
    <p>
        Shows random cat images.
    </p>
    <hr>
    <p class="no-bottom-margin"><span class="simple-preface">Alias: </span>  cat.
    </p>
    <p class="no-bottom-margin"><span class="simple-preface">Usage: </span> cat
    </p>
    <h3>Examples: </h3>
    <ul>
        <li><CommandTrigger cmd="cat">cat</CommandTrigger></li>
    </ul>
    <h3>Note:</h3>
    <p>
        In a future version, this command will be updated with functionality similar
        to that of a traditional CLI.
    </p>
</section>
}
