---
import CommandTrigger from "@c/main-layout/CommandTrigger.astro"

const { lang } = Astro.props

export const prerender = true
export const getStaticPaths = (() => {    
    return [
        {
            props: {
                lang: 'es'
            }
        },{
            props: {
                lang: 'en'
            }
        }
    ]
}) 
---

{lang === 'es' &&
<section>
    <h2>Ayuda: cls</h2>
    <p>
        Limpia la consola, removiendo todo el contenido cargado.
    </p>
    <hr>
    <p class="no-bottom-margin"><span class="simple-preface">Alias: </span> cls.
    </p>
    <p class="no-bottom-margin"><span class="simple-preface">Modo de uso: </span> cls
    </p>
    <h3>Ejemplos: </h3>
    <ul>
        <li><CommandTrigger cmd="cls">cls</CommandTrigger></li>
    </ul>
    
</section>
}

{lang === 'en' &&
<section>
    <h2>Help: cls</h2>
    <p>
        Clears the console, removing all loaded content.
    </p>
    <hr>
    <p class="no-bottom-margin"><span class="simple-preface">Alias: </span> cls.
    </p>
    <p class="no-bottom-margin"><span class="simple-preface">Usage: </span> cls
    </p>
    <h3>Examples: </h3>
    <ul>
        <li><CommandTrigger cmd="cls">cls</CommandTrigger></li>
    </ul>
</section>
}
