---
import CommandTrigger from "@c/main-layout/CommandTrigger.astro"

const { lang } = Astro.props

export const prerender = true
export const getStaticPaths = (() => {    
    return [
        {
            props: {
                lang: 'es'
            }
        },{
            props: {
                lang: 'en'
            }
        }
    ]
}) 
---

{lang === 'es' &&
<section>
    <h2>Ayuda</h2>
    <h3>Comandos</h3>
    <ul class="column-grid-fit20-fr">
        <li>help</li>
        <p class="no-bottom-margin">
            Muestra el menú de ayuda.
        </p>
        <li>nav</li>
        <p class="no-bottom-margin">
            Navega por el sitio.
        </p>
        <li>cd</li>
        <p class="no-bottom-margin">
            Cambia el directorio de trabajo.
        </p>
        <li>ls</li>
        <p class="no-bottom-margin">
            Lista los contenidos del directorio de trabajo.
        </p>
        <li>cat</li>
        <p class="no-bottom-margin">
            Muestra el contenido de una ubicación en el sitio, sin navegar a ella. Pero cuidado con las bestias.
        </p>
        <li>sitemap</li>
        <p class="no-bottom-margin">
            Lista ubicaciones accesibles desde el directorio de trabajo.
        </p>
        <li>whoami</li>
        <p class="no-bottom-margin">
            Muestra el usuario actual.
        </p>
        <li>remote-echo</li>
        <p class="no-bottom-margin">
            Muestra un mensaje recibido como argumento.
        </p>
        <li>recho</li>
        <p class="no-bottom-margin">
            Muestra un mensaje recibido como argumento y devuelto por el servidor.
        </p>
        <li>settings</li>
        <p class="no-bottom-margin">
            Muestra el menú de configuración.
        </p>
        <li>cls</li>
        <p class="no-bottom-margin">
            Limpia la pantalla.
        </p>
    </ul>
    <hr>
    <p class="no-bottom-margin"><span class="simple-preface">Alias: </span> ?, h, help, ayuda.
    </p>
    <p class="no-bottom-margin"><span class="simple-preface">Modo de uso: </span> help &lt;--opción&gt; &lt;comando&gt;
    </p>
    <p><span class="tip-preface">TIP: </span> usá <CommandTrigger cmd="help help">help help</CommandTrigger> para ver una 
        descripción más detallada sobre el uso de este comando.
    </p>
    <hr>
    <h3>Opciones</h3>
    <ul>
        <li>-n, --navigation, --navegacion</li>
        <p class="no-bottom-margin">
            &emsp;&emsp;Muestra las herramientas de navegación.
        </p>
        <li>-t, --tutorial</li>
        <p class="no-bottom-margin">
            &emsp;&emsp;Muestra el tutorial.
        </p>
    </ul>
    <h3>Ejemplos: </h3>
    <ul>
        <li><CommandTrigger cmd="help">help</CommandTrigger></li> 
        <li><CommandTrigger cmd="help help">help help</CommandTrigger></li> 
        <li><CommandTrigger cmd="help -n">help -n</CommandTrigger></li> 
        <li><CommandTrigger cmd="help --navigation">help --navigation</CommandTrigger></li> 
        <li><CommandTrigger cmd="help cls">help cls</CommandTrigger></li>
    </ul>
</section>
}

{lang === 'en' &&
    <h2>Help</h2>
    <h3>Commands</h3>
    <ul class="column-grid-fit20-fr">
        <li>help</li>
        <p class="no-bottom-margin">
            Display help menu.
        </p>
        <li>nav</li>
        <p class="no-bottom-margin">
            Navigate through the site.
        </p>
        <li>cd</li>
        <p class="no-bottom-margin">
            Change the working directory.
        </p>
        <li>ls</li>
        <p class="no-bottom-margin">
            List the contents of the working directory.
        </p>
        <li>cat</li>
        <p class="no-bottom-margin">
            Display the contents of a site location without navigating to it. But watch for the beasts.
        </p>
        <li>sitemap</li>
        <p class="no-bottom-margin">
            List locations accessible from the working directory.
        </p>
        <li>whoami</li>
        <p class="no-bottom-margin">
            Display the current user.
        </p>
        <li>echo</li>
        <p class="no-bottom-margin">
            Display a message passed as argument.
        </p>
        <li>remote-echo</li>
        <p class="no-bottom-margin">
            Display a message passed as argument after it's returned from the server.
        </p>
        <li>settings</li>
        <p class="no-bottom-margin">
            Display the settings menu.
        </p>
        <li>cls</li>
        <p class="no-bottom-margin">
            Clear the screen.
        </p>
    </ul>
    <hr>
    <p class="no-bottom-margin"><span class="simple-preface">Alias: </span> ?, h, help, ayuda.
    </p>
    <p class="no-bottom-margin"><span class="simple-preface">Usage: </span> help &lt;--option&gt; &lt;command&gt;
    </p>
    <p><span class="tip-preface">TIP: </span> use <CommandTrigger cmd="help help">help help</CommandTrigger> to see a 
        more detailed description of how to use this command.
    </p>
    <hr>
    <h3>Options</h3>
    <ul>
        <li>-n, --navigation, --navegacion</li>
        <p class="no-bottom-margin">
            &emsp;&emsp;Display navigation tools.
        </p>
        <li>-t, --tutorial</li>
        <p class="no-bottom-margin">
            &emsp;&emsp;Display tutorial.
        </p>
    </ul>
    <h3>Examples: </h3>
    <ul>
        <li><CommandTrigger cmd="help">help</CommandTrigger></li> 
        <li><CommandTrigger cmd="help help">help help</CommandTrigger></li> 
        <li><CommandTrigger cmd="help -n">help -n</CommandTrigger></li> 
        <li><CommandTrigger cmd="help --navigation">help --navigation</CommandTrigger></li> 
        <li><CommandTrigger cmd="help cls">help cls</CommandTrigger></li>
    </ul>
</section>
}