---
import CommandTrigger from "@c/main-layout/CommandTrigger.astro"
import NavigationButton from "@c/main-layout/NavigationButton.astro"


const { lang } = Astro.props

export const prerender = true
export const getStaticPaths = (() => {    
    return [
        {
            props: {
                lang: 'es'
            }
        },{
            props: {
                lang: 'en'
            }
        }
    ]
}) 
---

{lang === 'es' &&
<nav>
    <ul>
        <hr>
            <li>
                <CommandTrigger cmd="cat">cat</CommandTrigger> &lt;-- click acá para invocar una bestia!
            </li>
        <hr>
        <div class="navtools-bulk-container">
            <li>
                <CommandTrigger cmd="help --tutorial">help --tutorial</CommandTrigger>
            </li>
            <li>
                <CommandTrigger cmd="help">help</CommandTrigger>
            </li>
            <li>
                <CommandTrigger cmd="help nav">help nav</CommandTrigger>
            </li>
            <li>
                <CommandTrigger cmd="help sitemap">help sitemap</CommandTrigger>
            </li>
            <li>
                <CommandTrigger cmd="help ls">help ls</CommandTrigger>
            </li>
            <li>
                <CommandTrigger cmd="help cd">help cd</CommandTrigger>
            </li>
            <li>
                <CommandTrigger cmd="help cls">help cls</CommandTrigger>
            </li>
        </div>
        <hr>
        <div class="navtools-bulk-container">
            <li>
                <CommandTrigger cmd="sitemap">sitemap</CommandTrigger>
            </li>
            <li>
                <CommandTrigger cmd="ls">ls</CommandTrigger>
            </li>
            <li>
                <CommandTrigger cmd="nav /">nav /</CommandTrigger>
            </li>
            <li>
                <CommandTrigger cmd="nav ..">nav ..</CommandTrigger>
            </li>
            <li>
                <CommandTrigger cmd="cd /">cd /</CommandTrigger>
            </li>
            <li>
                <CommandTrigger cmd="cd ..">cd ..</CommandTrigger>
            </li>
            <li>
                <CommandTrigger cmd="cls">cls</CommandTrigger>
            </li>
        </div>
    </ul> 
</nav>
}

{lang === 'en' &&
<nav>
    <ul>
        <hr>
            <li>
                <CommandTrigger cmd="cat">cat</CommandTrigger> &lt;-- click here to summon a beast!
            </li>
        <hr>
        <div class="navtools-bulk-container">
            <li>
                <CommandTrigger cmd="help --tutorial">help --tutorial</CommandTrigger>
            </li>
            <li>
                <CommandTrigger cmd="help">help</CommandTrigger>
            </li>
            <li>
                <CommandTrigger cmd="help nav">help nav</CommandTrigger>
            </li>
            <li>
                <CommandTrigger cmd="help sitemap">help sitemap</CommandTrigger>
            </li>
            <li>
                <CommandTrigger cmd="help ls">help ls</CommandTrigger>
            </li>
            <li>
                <CommandTrigger cmd="help cd">help cd</CommandTrigger>
            </li>
            <li>
                <CommandTrigger cmd="help cls">help cls</CommandTrigger>
            </li>
        </div>
        <hr>
        <div class="navtools-bulk-container">
            <li>
                <CommandTrigger cmd="sitemap">sitemap</CommandTrigger>
            </li>
            <li>
                <CommandTrigger cmd="ls">ls</CommandTrigger>
            </li>
            <li>
                <CommandTrigger cmd="nav /">nav /</CommandTrigger>
            </li>
            <li>
                <CommandTrigger cmd="nav ..">nav ..</CommandTrigger>
            </li>
            <li>
                <CommandTrigger cmd="cd /">cd /</CommandTrigger>
            </li>
            <li>
                <CommandTrigger cmd="cd ..">cd ..</CommandTrigger>
            </li>
            <li>
                <CommandTrigger cmd="cls">cls</CommandTrigger>
            </li>
        </div>
    </ul> 
</nav>
}