---
import CommandTrigger from "@c/main-layout/CommandTrigger.astro"

const { lang } = Astro.props

export const prerender = true
export const getStaticPaths = (() => {    
    return [
        {
            props: {
                lang: 'es'
            }
        },{
            props: {
                lang: 'en'
            }
        }
    ]
}) 
---

{lang === 'es' &&
<section>
    <h2>Ayuda: remote-echo</h2>
    <p>
        Envía un mensaje al servidor e imprime la respuesta en la consola; el
        servidor responde con el mismo mensaje.
    </p>
    <hr>
    <p class="no-bottom-margin"><span class="simple-preface">Alias: </span> recho, remote-echo.
    </p>
    <p class="no-bottom-margin"><span class="simple-preface">Modo de uso: </span> remote-echo &lt;mensaje&gt;
    </p>
    <h3>Ejemplos: </h3>
    <ul>
        <li><CommandTrigger cmd="remote-echo hola">
            remote-echo hola</CommandTrigger>
        </li>
        <li><CommandTrigger cmd='remote-echo "hola pero con varias palabras"'>
            remote-echo "hola pero con varias palabras"</CommandTrigger>
        </li>
        <li><CommandTrigger cmd="remote-echo 'hola pero con varias palabras y comillas simples'">
            remote-echo 'hola pero con varias palabras y comillas simples'</CommandTrigger>
        </li>
        <li><CommandTrigger cmd="remote-echo hola igual también se puede sin comillas pero en una versión futura puede que no">
            remote-echo hola igual también se puede sin comillas pero en una versión futura puede que no</CommandTrigger>
        </li>
    </ul>
</section>
}

{lang === 'en' &&
<section>
    <h2>Help: remote-echo</h2>
    <p>
        Sends a message to the server and prints the response in the console;
        the server responds with the same message.
    </p>
    <hr>
    <p class="no-bottom-margin"><span class="simple-preface">Alias: </span> echo.
    </p>
    <p class="no-bottom-margin"><span class="simple-preface">Usage: </span> echo &lt;message&gt;
    </p>
    <h3>Examples: </h3>
    <ul>
        <li><CommandTrigger cmd="remote-echo hi">
            remote-echo hi</CommandTrigger>
        </li>
        <li><CommandTrigger cmd='remote-echo "hi but with several words"'>
            remote-echo "hi but with several words"</CommandTrigger>
        </li>
        <li><CommandTrigger cmd="remote-echo 'hi but with several words and simple quotes'">
            remote-echo 'hi but with several words and simple quotes'</CommandTrigger>
        </li>
        <li><CommandTrigger cmd="remote-echo hi this is also valid but it may no longer be in a future version">
            remote-echo hi this is also valid but it may no longer be in a future version</CommandTrigger>
        </li>
    </ul>
</section>
}
