---
import CommandTrigger from "@c/main-layout/CommandTrigger.astro"

const { lang } = Astro.props

export const prerender = true
export const getStaticPaths = (() => {    
    return [
        {
            props: {
                lang: 'es'
            }
        },{
            props: {
                lang: 'en'
            }
        }
    ]
}) 
---

{lang === 'es' &&
<section>
    <h2>Ayuda: sitemap</h2>
    <p>
        Muestra comandos clickeables
        para navegar a páginas importantes en el sitio, así como ubicaciones encontradas
        directamente dentro del directorio actual.
    </p>
    <hr>
    <p class="no-bottom-margin"><span class="simple-preface">Alias: </span> m, sm, map, sitemap.
    </p>
    <p class="no-bottom-margin"><span class="simple-preface">Modo de uso: </span> sitemap
    </p>
    <h3>Ejemplos: </h3>
    <ul>
        <li><CommandTrigger cmd="sitemap">sitemap</CommandTrigger></li>
    </ul>
</section>
}

{lang === 'en' &&
<section>
    <h2>Help: sitemap</h2>
    <p>
        Shows clickable commands
        to navigate to important site landmarks, as well as any locations found
        directly under the current directory.
    </p>
    <hr>
    <p class="no-bottom-margin"><span class="simple-preface">Alias: </span> m, sm, map, sitemap.
    </p>
    <p class="no-bottom-margin"><span class="simple-preface">Usage: </span> sitemap
    </p>
    <h3>Examples: </h3>
    <ul>
        <li><CommandTrigger cmd="sitemap">sitemap</CommandTrigger></li>
    </ul>
</section>
}
