---
import CommandTrigger from "@c/main-layout/CommandTrigger.astro"

const { lang } = Astro.props

export const prerender = true
export const getStaticPaths = (() => {    
    return [
        {
            props: {
                lang: 'es'
            }
        },{
            props: {
                lang: 'en'
            }
        }
    ]
}) 
---

{lang === 'es' &&
<section>
    <h2>Ayuda: whoami</h2>
    <hr>
    <p class="no-bottom-margin"><span class="simple-preface">Alias: </span> whoami.
    </p>
    <p class="no-bottom-margin"><span class="simple-preface">Modo de uso: </span> whoami
    </p>
    <p><span>Ejemplos: </span>
        <ul>
            <li><CommandTrigger cmd="whoami">
                whoami</CommandTrigger>
            </li>
        </ul>
    </p>
    <p>
        El comando <span class="em-command">whoami</span> imprime 
        el usuario actual en la pantalla.
    </p>
</section>
}

{lang === 'en' &&
<section>
    <h2>Help: whoami</h2>
    <hr>
    <p class="no-bottom-margin"><span class="simple-preface">Alias: </span> whoami.
    </p>
    <p class="no-bottom-margin"><span class="simple-preface">Usage: </span> whoami
    </p>
    <p><span>Examples: </span>
        <ul>
            <li><CommandTrigger cmd="whoami">
                whoami</CommandTrigger>
            </li>
        </ul>
    </p>
    <p>
        The <span class="em-command">whoami</span> command prints
        the current user to the screen.
    </p>
</section>
}
