---
import CommandTrigger from "@c/main-layout/CommandTrigger.astro"

const { lang } = Astro.props

export const prerender = true
export const getStaticPaths = (() => {    
    return [
        {
            props: {
                lang: 'es'
            }
        },{
            props: {
                lang: 'en'
            }
        }
    ]
}) 
---

{lang === 'es' &&
<section>
    <h2>Ayuda: whoami</h2>
    <p>
        Imprime el usuario actual en la consola.
    </p>
    <hr>
    <p class="no-bottom-margin"><span class="simple-preface">Alias: </span> whoami.
    </p>
    <p class="no-bottom-margin"><span class="simple-preface">Modo de uso: </span> whoami
    </p>
    <h3>Ejemplos: </h3>
    <ul>
        <li><CommandTrigger cmd="whoami">
            whoami</CommandTrigger>
        </li>
    </ul>
</section>
}

{lang === 'en' &&
<section>
    <h2>Help: whoami</h2>
    <p>
        Prints the current user to the console.
    </p>
    <hr>
    <p class="no-bottom-margin"><span class="simple-preface">Alias: </span> whoami.
    </p>
    <p class="no-bottom-margin"><span class="simple-preface">Usage: </span> whoami
    </p>
    <h3>Examples: </h3>
    <ul>
        <li><CommandTrigger cmd="whoami">
            whoami</CommandTrigger>
        </li>
    </ul>
</section>
}
