---
import MainLayout from "@l/MainLayout.astro"
import en from '@lib/lang/en'
import cookies from '@lib/cookies.json'
import Intro from "@c/pages/Intro.astro"

export const prerender = false

let theme
if (Astro.cookies.has(cookies.theme)) theme = Astro.cookies.get(cookies.theme)?.value
let {hideIntro} = Object.fromEntries(Astro.request.method === 'POST' ? await Astro.request.formData() : [])
---

<MainLayout langlib={en} theme={theme} >
    {hideIntro !== 'true' && <Intro lang="en"/> }
    <section>
        <h2>
            Muse
        </h2>
        <hr>
            <p>
                I cannot find where I wrote "Muse", it was long ago and I really liked it;
                I am putting this here to pressure myself into finding it. 
            </p>
        <hr>
    </section>
</MainLayout>