---
import MainLayout from "@l/MainLayout.astro"
import en from '@lib/lang/en'
import cookies from '@lib/cookies.json'
import Intro from "@c/pages/Intro.astro"

export const prerender = false

let theme
if (Astro.cookies.has(cookies.theme)) theme = Astro.cookies.get(cookies.theme)?.value
let {hideIntro} = Object.fromEntries(Astro.request.method === 'POST' ? await Astro.request.formData() : [])
---

<MainLayout langlib={en} theme={theme} >
    {hideIntro !== 'true' && <Intro lang="en"/> }
    <section>
        <h2>
            Reality
        </h2>
        <hr>
            <p>
                "Reality" está "casi listo" hace dos semanas, es el poema 
                más largo que escribí hasta ahora;
                dejo esto acá para presionarme y terminarlo. 
            </p>
        <hr>
    </section>
</MainLayout>