:root {
    --border-width: 2px;
    --border-radius: 1.12rem;

    --topbar-height: min(4rem, 15vh);
    --topbar-bottom-margin: min(1.12rem, 3vh);

    --content-area-height:100%;
    --content-area-width: 100%;

    --content-area-y-padding: .42rem;
    --content-area-x-padding: 2rem;
    --content-area-x-padding-l: 2rem;
    --content-area-x-padding-r: 1rem;
    --content-area-bottom-margin: min(1.12rem, 3vh);
    --content-area-left-margin: 1.12rem;
    --content-area-right-margin: 1rem;

    --tty-top-margin: var(--content-area-bottom-margin);

    --default-indent: 1rem;
    --menu-item-margin: 1rem;
}