@import "tailwindcss";

:root {
    --font-family: var(--font-kodemono), monospace, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Cascadia Mono", "Segoe UI Mono";

    font-size: medium;
    font-family: var(--font-family);
}

* {
    font-size: 1rem;

    &:focus-visible {
        position: relative;
        /* scale: 1.22; */
        outline: solid var(--color-highlight) var(--border-width);
        border-radius: var(--border-radius);
        outline-offset: 0.32em;
    }
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100dvh;
}

html {
    background-color: var(--colors-background);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

em {
    color: var(--color-highlight);
}

p {
    margin-bottom: 1rem;
}

ul:not(ul ul) > :last-child {
    margin-bottom: 1rem;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6, hr {
    color: var(--color-highlight)
}

h1 {
    font-weight: bold;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

h4 {
    font-style: italic;
}

a {
    color: var(--color-highlight);
    text-decoration: underline;
    text-underline-offset: 0.12em;
    font-style: italic;
}

a:hover {
    &::after {
        position: relative;
        scale: 1.22;
    }
}

a::after {
    background-color: currentColor;
    content: "\200b" / " (external)";
    display: inline-block;
    height: 1em;
    width: 1em;
    vertical-align: text-top;
    margin-left: .22em;
    padding: .22em;
    mask-image: url('/external-link.svg');
    mask-size: cover;
}

code {
    border-radius: var(--border-radius);
    color: var(--color-highlight);
    background-color: var(--color-foreground);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    text-decoration: none; 
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
}

figure > .img {
    padding-bottom: 0;
}

figure > figcaption {
    padding-bottom: 1rem;
}

.no-inline-whitespace {
    display: inline-flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.notice-preface, .error-preface {
    color: var(--color-highlight);
}

.padded-block {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: fit-content;
    padding: 1rem;
    overflow: hidden;
}

.inline-list li, .inline-list {
    display: inline;
}

.cat-image-container, .image-container {
    display: flex;
    flex-direction: column;
    justify-content: safe center;
    align-items: safe center;
    width: 100%;
    height: fit-content;
}

.cat-image {
    max-height: 22rem;
    max-width: 92%;
    aspect-ratio: auto 4/3;
    margin: 1rem;
    border: solid calc(2 * var(--border-width)) var(--color-border);
}

.column-grid-fit20-fr {
    display: grid;
    grid-template-columns: fit-content(20%) 1fr;
    column-gap: 1rem;
    & > *:nth-child(2n+1) {
        justify-self: end;
        text-wrap: wrap;
        word-break: break-all;
        overflow-wrap: anywhere;
        padding-left: 1rem;
    }
    & > *:nth-child(2n) {
        justify-self: start;
    }
}

.em-command {
    color: var(--color-highlight);
    font-style: italic;
    font-weight: bold;
}

.poem {
    display: contents;
    & > p {
        text-align: center;
    }
}

.regular-text-color {
    color: var(--color-text);
}

.error-preface {
    color: var(--color-error);
}

.tip-preface, .simple-preface {
    color: var(--color-highlight);
}

.ls-container {
    display: flex;
    gap: 1rem 2rem;
    flex-wrap: wrap;
}

.ls-entry {
    color: var(--color-highlight);
    font-style: italic;
}

.navtools-bulk-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 3rem;
}

.img {
    padding: 0 2rem 1rem 2rem;
}