---
import CommandTrigger from "@c/main-layout/CommandTrigger.astro";

const {lang} = Astro.props
---

{lang === 'en' &&
    <slot>
        <h2>
            Welcome!
        </h2>
    </slot>
    <p>
        If you're unfamiliar with command interfaces, type 
        <CommandTrigger cmd="help --tutorial">help --tutorial</CommandTrigger> 
        down below and press Enter or Send.
    </p>
    <p>
        Otherwise, try
        <CommandTrigger cmd="help">help</CommandTrigger>
        to see everything you can do.
    </p>
    <p>
        If you prefer not to use the keyboard, you can click underlined words 
        <span class="no-inline-whitespace"><CommandTrigger cmd="_silly">like these</CommandTrigger>.</span>
        The other panel on the screen has everything you'll need for mouse navigation.
    </p>
}

{lang === 'es' &&
    <slot>
        <h2>
            Bienvenido!
        </h2>
    </slot>
    <p>
        Si nunca usaste una interfaz de linea de comandos, escribí
        <CommandTrigger cmd="help --tutorial">help --tutorial</CommandTrigger> 
        debajo de este texto y presioná Enter o Enviar.
    </p>
    <p>
        De lo contrario, probá
        <CommandTrigger cmd="help">help</CommandTrigger>
        para ver los comandos disponibles.
    </p>
    <p>
        Si preferís no usar el teclado, podés hacer click en palabras subrayadas
        <span class="no-inline-whitespace"><CommandTrigger cmd="_silly">como estas</CommandTrigger>.</span>
        El otro panel en la pantalla tiene todo lo que vas a necesitar para navegar con el mouse.
    </p>
}