---
import MainLayout from "@l/MainLayout.astro"
import en from '@lib/lang/en'
import cookies from '@lib/cookies.json'
import Intro from "@c/pages/Intro.astro"

export const prerender = false

let theme
if (Astro.cookies.has(cookies.theme)) theme = Astro.cookies.get(cookies.theme)?.value
let {hideIntro} = Object.fromEntries(Astro.request.method === 'POST' ? await Astro.request.formData() : [])
---

<MainLayout langlib={en} theme={theme} >
    {hideIntro !== 'true' && <Intro lang="en"/> }
    <section>
        <h2>
            Joaquín Leonel Bazán
        </h2>
        <p>
            Information Systems' Engineering student. Full-stack developer.
        </p>
        <p>
            I am a perfectionist that enjoys solving problems 
            and creating. 
            Sometimes I like writing poetry, sometimes I'm fine 
            just watching cat videos online.
        </p>
        <hr>
        <h3>
            Relevant links:
        </h3>
        <ul>
            <li><a href="https://linkedin.com/in/jbazann">linkedin.com/in/jbazann</a></li>
            <li><a href="https://github.com/jbazann">github.com/jbazann</a></li>
            <li><a href="https://twitter.com/jbazann_">twitter.com/jbazann_</a></li>
        </ul>
    </section>
</MainLayout>