---
---

<span>
    <button class="outer" data-component-navigation-button>
    </button>
</span>

<script>
    import { eventHandler, removeHandler } from "@lib/_events"
    import { newInputEvent, dispatch } from "@lib/events"
    import { contentAreaId } from "@lib/ids"
    import { err } from "@lib/log"

    const clickHandler = (_event: Event) => {
        dispatch(newInputEvent(
            'help --navigation', 
            `guest :${window.location.pathname} > help --navigation`
        ))
    }

    const rewireHandler = (_event?: Event) => {
        const layout = document.getElementById(contentAreaId)
        !layout && err(`Layout ${contentAreaId} not found.`)
        const buttons = layout?.querySelectorAll('button[data-component-navigation-button]') || []
        buttons.forEach(b => {
            removeHandler('click', clickHandler, b, 'NAVB-REWIRE')
            eventHandler('click', clickHandler, b, 'NAVB-REWIRE')
        })
    }

    rewireHandler()
    eventHandler('tty:rewire:page', rewireHandler)
</script>

<style>

    span {
        display: inline-flex;
        inline-size: fit-content;
        block-size: fit-content;
        vertical-align: middle;
    }

    .outer {
        display: flex;
        justify-content: safe center;
        align-items: safe center;
        inline-size: 1.5ch;
        width: 2ch;
        height: auto;
        aspect-ratio: 1;
        border: calc(2 * var(--border-width)) solid var(--color-border);
        border-radius: var(--border-radius);

        &:hover {
            scale: 122%;
            border: calc(2 * var(--border-width)) solid var(--color-highlight);

            & div {
                border: calc(2 * var(--border-width)) solid var(--color-highlight);
            }
        }
    }

    .inner {
        height: 0;
        width: 0;
        border: var(--border-width) solid var(--color-border);
        border-radius: var(--border-radius);
    }

</style>