---
import MainLayout from "@l/MainLayout.astro";
import es from "@lib/lang/es"
import cookies from "@lib/cookies.json"
import Intro from "@c/pages/Intro.astro";
import CommandTrigger from "@c/main-layout/CommandTrigger.astro";

let theme
if (Astro.cookies.has(cookies.theme)) theme = Astro.cookies.get(cookies.theme)?.value
let {hideIntro} = Object.fromEntries(Astro.request.method === 'POST' ? await Astro.request.formData() : [])
---

<MainLayout langlib={es} theme={theme}>
    {hideIntro !== 'true' && <Intro lang="es"/> }
    <section>
        <h2>Proyecto Dubbi</h2>
        <p>
            Este proyecto es la cuarta iteración de mi sitio personal.
            La versión tres está disponible en 
            <a target="_blank" href="v3.jbazann.dev">v3.jbazann.dev</a>,
            y podés leer al respecto con  
            <CommandTrigger cmd="nav ../sbupi">nav ../sbupi</CommandTrigger>. 
        </p>
        <p>
            Dividí esta sección en las siguientes sub-secciones:
        </p>
        <ul class="inline-list">
            <li>Arquitectura</li>
            <li>Estructura</li>
            <li>Roadmap</li>
        </ul>
        <p>
            También te puede interesar el repositorio en Github:
            <a target="_blank" href="https://github.com/jbazann/dubbi">github.com/jbazann/dubbi</a>.
        </p>
    </section>
</MainLayout>