---
import MainLayout from "@l/MainLayout.astro";
import es from "@lib/lang/es"
import cookies from "@lib/cookies.json"
import Intro from "@c/pages/Intro.astro";

let theme
if (Astro.cookies.has(cookies.theme)) theme = Astro.cookies.get(cookies.theme)?.value
let {hideIntro} = Object.fromEntries(Astro.request.method === 'POST' ? await Astro.request.formData() : [])
---

<MainLayout langlib={es} theme={theme}>
    {hideIntro !== 'true' && <Intro lang="es"/> }
    <section>
        <h2>Proyecto Sbupi</h2>
        <p>Esta sección estará disponible muy pronto!</p>
        <p>Mientras tanto, podés ver una versión desactualizada en 
            <a href="https://v3.jbazann.dev/es/projects/sbupi">v3.jbazann.dev/es/projects/sbupi</a></p>
    </section>
</MainLayout>