---
import MainLayout from "@l/MainLayout.astro";
import en from "@lib/lang/en"
import cookies from "@lib/cookies.json"
import Intro from "@c/pages/Intro.astro";

let theme
if (Astro.cookies.has(cookies.theme)) theme = Astro.cookies.get(cookies.theme)?.value
let {hideIntro} = Object.fromEntries(Astro.request.method === 'POST' ? await Astro.request.formData() : [])
---

<MainLayout langlib={en} theme={theme}>
    {hideIntro !== 'true' && <Intro lang="en"/> }
    <section>
        <h2>Project Sbupi</h2>
        <p>This section will be available soon!</p>
        <p>Meanwhile, you can check out an outdated version at 
            <a href="https://v3.jbazann.dev/projects/sbupi">v3.jbazann.dev/projects/sbupi</a></p>
    </section>
</MainLayout>