---
import MainLayout from "@l/MainLayout.astro"
import en from '@lib/lang/en'
import cookies from '@lib/cookies.json'
import Intro from "@c/pages/Intro.astro"

export const prerender = false

let theme
if (Astro.cookies.has(cookies.theme)) theme = Astro.cookies.get(cookies.theme)?.value
let {hideIntro} = Object.fromEntries(Astro.request.method === 'POST' ? await Astro.request.formData() : [])
---

<MainLayout langlib={en} theme={theme} >
    {hideIntro !== 'true' && <Intro lang="en"/> }
    <section>
        <h2>
            Learning drafts
        </h2>
        <p>
            Esta sección contiene poemas que decidí incluír en la colección "Early Drafts."
        </p>
        <p>
            Esta colección contiene material que considero imperfecto de una u otra forma,
            pero que todavía no puedo mejorar.
        </p>
        <hr>
        <p>
            Available poems: 
        </p>
        <ul class="inline-list">
            <li><em>pretty-little-lady</em></li>, 
            <li><em>the-old-man-and-death</em></li>, 
            <li><em>the-end-of-i</em></li>,
            <li><em>muse</em></li>,
            <li><em>reality</em></li>.
        </ul>
    </section>
</MainLayout>