---
import MainLayout from "@l/MainLayout.astro"
import es from '@lib/lang/es'
import cookies from '@lib/cookies.json'
import Intro from "@c/pages/Intro.astro"

export const prerender = false

let theme
if (Astro.cookies.has(cookies.theme)) theme = Astro.cookies.get(cookies.theme)?.value
let {hideIntro} = Object.fromEntries(Astro.request.method === 'POST' ? await Astro.request.formData() : [])
---

<MainLayout langlib={es} theme={theme} >
    {hideIntro !== 'true' && <Intro lang="en"/> }
    <section>
        <h2>
            Joaquín Leonel Bazán
        </h2>
        <p>
            Estudiante de Ingeniería en Sistemas de Información. Desarrollador full-stack.
        </p>
        <p>
            Soy un perfeccionista que disfruta resolver problemas y crear.
            A veces me gusta escribir poesía (por ahora solo en inglés),
            a veces me alcanza con ver videos de gatos en internet.
        </p>
        <hr>
        <h3>
            Enlaces relevantes:
        </h3>
        <ul> 
            <li><a target="_blank" href="https://linkedin.com/in/jbazann">linkedin.com/in/jbazann</a></li>
            <li><a target="_blank" href="https://github.com/jbazann">github.com/jbazann</a></li>
            <li><a target="_blank" href="https://twitter.com/jbazann_">twitter.com/jbazann_</a></li>
        </ul>
    </section>
</MainLayout>