---
import MainLayout from "@l/MainLayout.astro"
import es from '@lib/lang/es'
import cookies from '@lib/cookies.json'
import Intro from "@c/pages/Intro.astro"

export const prerender = false

let theme
if (Astro.cookies.has(cookies.theme)) theme = Astro.cookies.get(cookies.theme)?.value
let {hideIntro} = Object.fromEntries(Astro.request.method === 'POST' ? await Astro.request.formData() : [])
---

<MainLayout langlib={es} theme={theme} >
    {hideIntro !== 'true' && <Intro lang="es"/> }
    <section>
        <h2>
            Joaquín Leonel Bazán
        </h2>
        <p>
            Estudiente de Ingeniería en Sistemas de Información. Desarrollador full-stack.
        </p>
        <p>
            Esta sección estará disponible pronto.
        </p>
    </section>
</MainLayout>