---
import MainLayout from "@l/MainLayout.astro"
import en from '@lib/lang/en'
import cookies from '@lib/cookies.json'
import Intro from "@c/pages/Intro.astro"

export const prerender = false

let theme
if (Astro.cookies.has(cookies.theme)) theme = Astro.cookies.get(cookies.theme)?.value
let {hideIntro} = Object.fromEntries(Astro.request.method === 'POST' ? await Astro.request.formData() : [])
---

<MainLayout langlib={en} theme={theme} >
    {hideIntro !== 'true' && <Intro lang="en"/> }
    <h2>
        Gallery
    </h2>
    <p>
        Esta sección contiene poemas que escribo para mejorar mi inglés. Todavía no escribo en español,
        y los que tengo no están traducidos,
        pero en varios incluí comentarios que sí traduje al español. Advertencia: son muy malos,
        y algunos tratan sobre temas sensibles.
    </p>
    <p>
        Los separé en colecciones, pero empecé a escribir hace poco, así que solamente tengo 
        una colección hasta que sienta que sé lo que hago.
    </p>
    <p>
        Colecciones disponibles: 
    </p>
    <ul class="inline-list">
        <li><em>early-drafts</em></li>.
    </ul>
</MainLayout>